@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;

}

.IT-section{
    
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    margin: auto;
    width: 75%;

    font-family: 'Ubuntu', sans-serif;
    
}
    p{
     background-color:crimson;
     color: white;
     text-align:center;
     font-size:20px;
    }
    h2{
       color:blue;
       text-align: center;
       font-size: 40px;
       background-color:grey;
    
    }